*{
    padding: 0;
    margin: 0;
}

:root{
    --fontfamily: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cardbox{

    width: 28dvw;
    height: 58dvh;
    padding: 1dvw;
}

#cardbox:hover .front{
    transform: rotateY(-180deg);
    visibility: hidden;
    object-fit: contain;
}

#cardbox:hover .back{
    transform: rotateY(0deg);
    visibility: visible;
}

.front, .back{
    position: absolute;
    top: 25dvh;
    background-color: #282c34;
    color: white;
    width: 25dvw !important;
    height: 55dvh !important;
    border: 1px solid black;
    box-shadow: 0 0 3px 3px black;
    border-radius: 10px;
    padding: 5px;
    font-family: var(--fontfamily);
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
}

.frontpic, .backpic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25dvh;
    width: inherit;
    border-bottom: 2px solid black;
    object-fit: contain;
}

.front{
    transform: rotateY(0);
    z-index: 5;
}

.back{
    transform: rotateY(180deg);
    visibility: hidden;
    z-index: 0;
}

.pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
    border: 1px solid black;
}

.bottom{
    display: grid;
    place-items: center;
}

.bottom button{
    font-size: 13px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px;
    box-shadow: 0 0 2px 2px black;
    background-color: silver;
    width: 90px;
    height: 30px;
    margin: 0.5dvh;
    text-transform: uppercase;
    color: black;
}

.contactbutton{
    width: 150px;
    height: 30px;
    text-decoration: none;
    color: #282c34;
    background-color: lightseagreen;
    border: 1px solid navy;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.contactbutton:hover {
    background-color: cornflowerblue;
    border: 1px solid blueviolet;
}

.quicklinks{
    font-size: 25px;
    position: absolute;
    bottom: 17.5%;
    left: 50%;
    transform: translate(-50%, -17.5%);
}

.quicklinks a{
    color: white;
    text-decoration: none;
}

.xing:hover{
    color: #126567;
}

.linkedin:hover{
    color: rgb(14, 118, 168);
}

.github:hover{
    color: black;
}